
	<p>If you are like me you have had to move at lease once if not more in your life.</p>

	<p>As for me I move ALOT (uhg!). So what do we all do? We jump online faithfully go to our trusted friend Craig.
   Only to get EVREYTHING, from houses to apt to condos and everything in the middle.</p>
   
	<h3>I only want houses! Is that too much to ask for?</h3>
	
	<p>Therefor we all digress to using Google and navigainting to some rents search site that asks us for our name and email
		only to then let us search and send us the results by email or yet give us spam later.</p>
		
	<p>Would it be nice to have a site that just lets you search for what you want, where you want with out jumping the hoops,
		and returs us a list of available proporties we can view NOW?</p>
		
	<h3>Well you are in luck. You can do that right here.</h3>
	
	<p>Use out quick searech below or go to the <%= link_to 'Rent A Home', search_properties_url %> page 
	   for a full search. You can create a <%= link_to 'free account', root_url %> to save the properties
	   you are intrested in, or setup a "search watch" that will email new results as they become 
	   avalibale.</p>
	
	<%= form_tag({:controller => "properties"}, :method => "get") do |f|%>
		<fieldset id="quick_search">
			
			<ul >
				<li>Search by State or Zip</li>
				<li>Must Select State to search by City</li>
			</ul>
			
			<div >
			<ul>
				<li>
					<label for="city">City:</label>
					<%= collection_select(:search, :city, City.order('name ASC').all, :id, :name, :prompt => true) %>
				</li>
				<li>
					<label for="state">State:</label> 
					<%= collection_select(:serach, :state,  State.order('name ASC').all, :abbr, :name, :prompt => true) %>
				</li>
				<li><label>Zip:</label> 
					<%= collection_select(:search, :zip, Zip.order('zip_code ASC').all, :id, :zip_code, :prompt => true) %>
				</li>
			</ul>
			</br>
			<input type="submit" value="Rent A Home" />
		</fieldset>
	
	<% end %>
	
