<%= form_tag({:controller => "properties" }, :method => "get") do |f|%>

	<fieldset id="rental">
		<legend>Rental Type:</legend>
		<div class="double_column_list">
			<ul>
				<li>
					<%= check_box_tag(:house) %>
					<label for="house">House:</label>
										
				</li>
				<li>
					<%= check_box_tag(:apartment) %>
					<label for="apt">Apartment:</label>	
				</li>
				<li>
					<%= check_box_tag(:townhouse) %>
					<label for="townhouse">Townhouse:</label>						
				</li>

				<li>
					<%= check_box_tag(:condo) %> 
					<label for="condo">Condo:</label>	 			
				</li>
			</ul>
		</div>
	</fieldset>
	
	<fieldset id="price">
		<legend>Price Range:</legend>
		
		<div class="double_column_list">
			<ul>
				<li><label for="min">Min:</label><input type="text" name="min" /></li>
				<li><label for="max">Max:</label><input type="text" name="max" /></li>
			</ul>
		</div>
	</fieldset>
	
	<fieldset id="location">
		<legend>Location:</legend>
		
		<div class="double_column_list">
			<ul>
				<li>
					<label for="city">City:</label>
					<%= collection_select(:search, :city, City.order('name ASC').all, :id, :name) %>	
				<li>
					<label for="state">State:</label>
					<%= collection_select(:search, :state,  State.order('name ASC').all, :abbr, :name) %>		
				</li>
				<li>
					<label for="county">County:</label>
					<%= collection_select(:search, :county, County.order('name ASC').all, :id, :name) %>
				</li>
				<li>
					<label for="zip">Zip:</label>
					<%= collection_select(:search, :zip, Zip.order('zip_code ASC').all, :id, :zip_code) %>
				</li>
			</ul>
	</fieldset>
	
	<fieldset id="rooms">
		<legend>#Rooms and #Bathroom:</legend>
		
		<div class="double_column_list">
			<ul>
				<li>
					<label for="room"># Rooms:</label>
					<%= collection_select(:seach, :room, Room.order('room ASC').all, :id, :room) %>
				</li>
				<li>
					<label for="bathroom"># Bathroom:</label>
					<%= collection_select(:search, :bahtroom, Bathroom.order('bathroom ASC').all, :id, :bathroom) %>
				</li>
	</fieldset>
	
	<fieldset id="pet">
		<legend>Pets:</legend>
		
		<div class="double_column_list">
			<ul>
				<li>
					<%= radio_button_tag(:pet, "cat") %>
					<label for="cat">Cat</label>
					
				</li>
				<li>
					<%= radio_button_tag(:pet, "dog") %>
					<label for="dog">Dog</label>					
				</li>
				<li>
					<%= radio_button_tag(:pet, "both") %>
					<label for="both">Both</label>					
				</li>
				<li>
					<%= radio_button_tag(:pet, "none")%>
					<label for="none">None</label>					
				</li>
			</ul>
	</fieldset>
	<input type="submit" value="Rent A Home" class="button pill">
<% end %>