<p>Property Listing:</p>
	<div id="table">
		<div class="th">Rental</div>
		<div class="th">Price</div>
		<div class="th">Address</div>
		<div class="th">City</div>
		<div class="th">State</div>
		<div class="th">Zip</div>
		<div class="th">County</div>
		<div class="th">Pet</div>
		
		<% if @property.blank? %>
		<div class="td_span">There are no results for your search please try a new search. </div>
		<% else 
		@property .each do |p| %>
		<div class="td"><%= p.rental %></div>
		<div class="td"><%= p.price %></div>
		<div class="td"><%= p.address %></div>
		<div class="td"><%= p.city %></div>
		<div class="td"><%= p.state %></div>
		<div class="td"><%= p.zip %></div>
		<div class="td"><%= p.county %></div>
		<div class="td"><%= p.pet %></div>
		<% end 
		end%>
	</div>


