
fieldset {
  border: solid 2px #21303E;
  background: #A09F8C;
  width: 60%;
  margin: 10px auto;
  
  overflow: hidden;
  position: relative;
  
  -moz-border-radius: 14em 14em ;
  border-radius: 1em 1em ;
  color: #21303E;
  
}

legend {
  border: solid 1px #21303E;
  background: #21303E;
  font-size: large;
  color: #A5A491;
  margin-left: -50px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  
  box-shadow: 5px 5px 5px #222;  
}


#price label, #location label, #rooms label, #quick_search label {
  border: solid 0px #000;
  float: left;
  text-align: right;
 
  width: 125px;  
  margin-top: 3px;
  line-height: 18px;
   
}

input:not([type=submit]):not([type=file]), textarea {
   border: 2px solid /*#1C3C6A*/ rgba(31, 14, 6, 0.5);
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
 
   font-size: 12px;
   width: 20%;
   margin: 2px 295px 2px 0px;

   float: right;  
   
   -webkit-appearance: none;
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.5em;
}

/** renta; **/
#rental input[type=checkbox]{
  float: left;
}

#rental label {
  margin: -300px;
}

/*** Pet ***/
#pet input[type=radio]{
  float: left;
}

#pet label {
  margin: -300px;
}


input[type=submit] {
  margin-left: 185px;
}
