// Place all the styles related to the property controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table {
  border: solid 2px green;
  width: 100%;
  height: auto;
  float: left;
  
}

.th, td {
 border: solid 1px green;
 width: 12.2%;
 margin: 0 auto;
 float: left;
}

.td_span {
  border: solid 1px green;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  float: left;
  text-align: center;
}
