// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps|Snowburst+One|Galindo|Diplomata|Trade+Winds|Special+Elite|Love+Ya+Like+A+Sister);
@import url(http://fonts.googleapis.com/css?family=Ribeye+Marrow);
/* site basics */
html {
  background-color: #8D9AAA;
  background: url(/assets/PncVCc.png) fixed repeat 0 -50px;
  /*background-size: 80%;*/
  color: #222;
}

body {

  padding: .8% 2% .5% 2%;
}

ul {
  list-style: none;
}

a {
   color: #D99E35;
}


#main a:hover {
  color: #137EA7;
  font-size: 1.2em;

}

a:visited {
  color: #993434;
}

#page {
  border: solid 2px #21303E; 
  background: rgba(254, 253, 234, 0.9);
  width: 85%; 
  height: auto; 
  margin: 0 0 0 7%;
  float: left;
  
  -moz-border-radius: 1em 4em 1em 4em;
  border-radius: 1em 4em 1em 4em;
  
  box-shadow: 10px 15px 5px  #000;
}

#header {
  border: solid 0px #000;
  width: 90%;
  height: 70px;
  margin: 0 auto;
  line-height: .5;
  text-align: center;
  font-family: 'Ribeye Marrow', cursive;;
  font-size: 3em;
  color: #21303E;
}
/* site basics */
/* Navigation styling */
#nav {
  border: solid 0px #000;
  width: 90%;
  height: 100px;
  margin: 0 auto;
  padding-top:8px;
  text-align: center;
}

#nav ul {
  background: #efefef; 
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
  background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
  box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
  padding: 0 20px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;
}

#nav ul li {
  float: left;
}

#nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
  }
  
#nav ul li:hover a {
   color: #fff;
      
  /* transform:rotate(5deg);
  /*-ms-transform:rotate(5deg); /* IE 9 */
  /*-moz-transform:rotate(5deg); /* Firefox */
  /*-webkit-transform:rotate(5deg); /* Safari and Chrome */
  /*-o-transform:rotate(5deg); /* Opera */
    }
    
#nav ul li a {
    display: block; padding: 25px 40px;
    color: #757575; text-decoration: none;
  }
/* Navigatin */
/* Main */
#main {
  border: solid 0px #000;
  width: 90%;
  height: auto;
  margin: 0 0 0 5%; 
  text-align: justify;
  text-indent: 20px;
  float: left;  
}

#footer {
  border: solid 0px blue;
  width: 90%;
  height: 40px;
  margin: 5% 0 0 5%; 
  padding-top: 10px;
  text-align: center;
  float: left;
}

