
<ul>
	<li><%= link_to "Home", root_path, :class => 'brand' %></li>
	<li><%= link_to "Rent A Hmone", search_properties_url, :class => 'brand'%></li>
	<% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_sessin_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %> 
</ul>

