<!DOCTYPE html>
<%# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither %>
<%= html_tag :class => "no-js" %>
  <%= render "head" %>

  <body class="<%= controller.controller_name %>">
  	<div id="page">
    	<%= render "chromeframe" %>
	    <%= render "header" %>
	
		<div id="nav"><%= render "navigation" %></div>
	    <div id="main" role="main">
	      <%= render "flashes" %>
	      
	      <%= yield %>
	    </div>
	
	    <%= render "footer" %>
	
	    <%# Javascript at the bottom for fast page loading %>
	    <%= render "javascripts" %>
	</div>
  </body>
</html>